.navbarContainer {
    width: 50%;
    max-width: 4000px;
    margin: 0px 20px 0px 500px;
  }
  
  .navbarListItem {
    display: flex;
    align-items: center;
    gap: 5px;
    color:white;
    margin: 0px 5px 0px 0px;
  }
  .navbarListItem.active{
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
  }
  .imagen{
      display:flex;
      filter: drop-shadow(0 0 40px green(114, 126, 205));
      width: 1500px;
      height: 65px;
      justify-content: space-between;
      border-radius: 10px;  
  }
  .roomBtn {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
  }